# System
.DS_Store
Thumbs.db

# Project
backend/llm.py

backend/models/*.gguf
backend/models/metadata.json
backend/__pycache__/
backend/venv/
roddle.db

# Node
node_modules/
frontend/build/
frontend/node_modules/
